<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">
    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <form id="menuForm" action="#" accept-charset="utf-8" th:action="@{/dishes}" th:object="${dish}"
              method="post">

            <div class="form-group">
                <label>Nazwa dania</label>
                <input type="text" class="form-control" placeholder="Schabowy, burger z bekonem etc."
                       th:field="*{name}">
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label>Cena</label>
                <input type="text" class="form-control" placeholder="0.00 zł" th:name="price" th:id="price"
                       th:value="*{#numbers.formatDecimal(price,1,2)}">
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('price')}"
                       th:errors="*{price}"></small>
            </div>
            <div class="form-group">
                <label>Opis</label>
                    <textarea class="form-control" rows=3 placeholder="Twoje uwagi odnośnie dania"
                              th:field="*{comment}"></textarea>
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('comment')}"
                       th:errors="*{comment}"></small>
            </div>

            <input type="hidden" th:field="*{id}" th:value="*{id}">
            <input type="hidden" th:field="*{menuId.id}" th:value="*{menuId.id}">

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>

        </form>

    </div>
</section>

</body>
</html>