<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <form id="menuForm" action="#" accept-charset="utf-8" th:action="@{/orders}" th:object="${order}" method="post">

            <div class="form-group">
                <label>Nazwa</label>
                <input id="orderName" type="text" class="form-control" placeholder="Piątkowy Chińczyk, pizza z rana etc." th:field="*{name}">
                <small id = "nameError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label>Menu</label>
                <select id = "menus" class="form-control" th:field="*{menuId.id}">
                    <option th:each="menu: ${menus}" title="sf" th:utext="${menu.name}" th:value="${menu.id}"></option>
                </select>
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('menuId')}" th:errors="*{menuId}"></small>
            </div>
            <div class="form-group">
                <label>Czas zakończenia</label>
                <input id="endTime" type="text" class="form-control" placeholder="01/01/2017 12:30" th:field="*{endTime}">
                <small id = "endTimeError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></small>
            </div>
            <div class="form-group">
                <label>Zamawiający</label>
                <input id="owner" type="text" class="form-control" placeholder="Jan Kowalski (QA)" th:name="owner" th:id="owner"
                       th:value="${(order.owner == null and !#authorization.expr('isAnonymous()')) ? #authentication.getName().split('@')[0] : order.owner}">
                <small id = "ownerError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></small>
            </div>
            <div class="form-group">
                <label>Uwagi</label>
                <textarea id="comment" class="form-control" rows=3 placeholder="Numer konta do wpłaty: 50 1090 1362 0000 0000 3601 7904" th:field="*{comment}"></textarea>
                <small id = "commentError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></small>
            </div>

            <div class="checkbox">
                <label>
                    <input id="cashCheckbox" type="checkbox" th:field="*{cashAllowed}" th:value="true"> Płatność gotówką
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="transferCheckbox" type="checkbox" th:field="*{transferAllowed}" th:value="true"> Płatność przelewem
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="blikCheckbox" type="checkbox" th:field="*{blikAllowed}" th:value="true"> Płatność Blik
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="immediateCheckbox" type="checkbox" th:field="*{paymentImmediate}" th:value="true"> Wymagana natychmiastowa płatność
                </label>
            </div>
            <p><small  id = "paymentError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></small></p>

            <div class="form-group" th:if="*{#authorization.expr('isAnonymous()') or (!#authorization.expr('isAnonymous()') and id !=null and user == null)}">
                <label>Hasło</label>
                <input id="password" type="password" class="form-control" th:field="*{hash}">
                <!--Only available if redirected after failed validation-->
                <small  id = "passwordError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('hash') and !(#fields.allErrors().size() > 1)}" th:errors="*{hash}"></small>
                <p><small>Hasło służy do obsługi i edycji zamówienia. Nigdy nie wpisuj hasła używanego do innych usług. Mimo dołożenia wszelkich starań (Twoje hasło NIGDY nie jest przechowywane w czystej postaci) nie mogę zagwarantować bezpieczeństwa Twojego hasła, strona ma charakter amatorski.</small></p>
            </div>

            <p class="form-text text-muted error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"><small>Błędne hasło!</small></p>

            <input type="hidden" th:field="*{id}" th:value="*{id}">

            <div class="form-group">
                <button id="saveButton" type="submit" class="btn btn-primary">Zapisz</button>
            </div>

        </form>

    </div>

</section>

</body>
</html>