<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <form id="menuForm" action="#" accept-charset="utf-8" th:action="@{/menus}" th:object="${menu}"
              method="post">
            <div class="form-group">
                <label>Nazwa restauracji</label>
                <input id="restaurantName" type="text" class="form-control"
                       placeholder="Pizza Hut, Piccolo, Da Grasso etc."
                       th:field="*{name}">
                <small id = "nameError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label>Źródło</label>
                <input id="sourceUrl" type="text" class="form-control" placeholder="http://adres-restauracji.pl"
                       th:field="*{sourceUrl}">
                <small id = "urlError" class="form-text text-muted error-message" th:if="${#fields.hasErrors('sourceUrl')}"
                       th:errors="*{sourceUrl}"></small>
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea id="comment" class="form-control" rows=3 placeholder="Typ jedzenia, uwagi"
                          th:field="*{comment}"></textarea>
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('comment')}"
                       th:errors="*{comment}"></small>
            </div>

            <input type="hidden" th:field="*{id}" th:value="*{id}">

            <div class="form-group">
                <button id = "saveButton" type="submit" class="btn btn-primary">Zapisz</button>
            </div>

        </form>

    </div>

    <div th:if="${dishes != null}" class="col-md-10 col-md-offset-2 main">

        <h1 class="page-header">Dania w menu</h1>

        <div id="dish-list" class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Cena</td>
                    <td>Opis</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dish: ${dishes}"
                    th:onclick="'location.href=\'' + @{/dishes/{id}(id=__${dish.id}__)} + '\';'"
                    style="cursor: pointer">
                    <td th:text="${dish.name}"></td>
                    <td th:text="${#numbers.formatDecimal(dish.price,0,2)} + ' zł'"></td>
                    <td th:text="${dish.comment}"></td>
                </tr>
                </tbody>
            </table>

            <a th:href="@{/newDish(menuId=__${menu.id}__)}">
                <div class="float-right btn btn-primary">Nowe</div>
            </a>

        </div>


    </div>

</section>

</body>
</html>