<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <form id="menuForm" action="#" accept-charset="utf-8" th:action="@{/registration}" th:object="${registrationDto}" method="post">

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="j.kowalski@fibargroup.com" th:field="*{email}">
                <small class="form-text text-muted error-message" th:if="*{#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input type="password" class="form-control" th:field="*{password}">
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
            </div>
            <div class="form-group">
                <label>Powtórz Hasło</label>
                <input type="password" class="form-control" th:field="*{confirmedPassword}">
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></small>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zarejestruj</button>
            </div>

        </form>


    </div>

</section>

</body>
</html>