<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <form id="menuForm" action="#" accept-charset="utf-8" th:action="@{/items}" th:object="${item}"
              method="post">

            <div class="form-group">
                <label>Danie</label>
                <select class="form-control" th:field="*{dish.id}">
                    <option th:each="dish: ${dishes}"
                            th:utext="${dish.name  + ' ' + #numbers.formatDecimal(dish.price,0,2) + ' zł'}"
                            th:value="${dish.id}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Zamawiający</label>
                <input type="text" class="form-control" placeholder="Jan Kowalski (QA)" th:name="owner" th:id="owner"
                       th:value="${(item.owner == null and !#authorization.expr('isAnonymous()')) ? #authentication.getName().split('@')[0] : item.owner}">
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('owner')}"
                       th:errors="*{owner}"></small>
            </div>
            <div class="form-group">
                <label>Ilość</label>
                <select class="form-control" th:field="*{quantity}">
                    <option th:each="i : ${#numbers.sequence( 1, 10)}" th:text="${i}" th:value="${i}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Forma płatności</label>
                <select class="form-control" th:field="*{paymentForm.id}">
                    <option th:each="payment: ${paymentForms}" th:utext="${payment.name}"
                            th:value="${payment.id}"></option>
                </select>
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('paymentForm')}"
                       th:errors="*{paymentForm}"></small>
            </div>

            <div class="form-group">
                <label>Opis</label>
            <textarea class="form-control" rows=3 placeholder="Twoje uwagi odnośnie dania"
                      th:field="*{comment}"></textarea>
                <small class="form-text text-muted error-message" th:if="${#fields.hasErrors('comment')}"
                       th:errors="*{comment}"></small>
            </div>

            <div class="form-group"
                 th:if="*{#authorization.expr('isAnonymous()') or (!#authorization.expr('isAnonymous()') and id !=null and user == null)}">
                <label>Hasło</label>
                <input id = "password" type="password" class="form-control" th:field="*{hash}">
                <!--Only available if redirected after failed validation-->
                <small class="form-text text-muted error-message"
                       th:if="${#fields.hasErrors('hash') and !(#fields.allErrors().size() > 1)}"
                       th:errors="*{hash}"></small>
                <p>
                    <small>Hasło służy do edycji zamówienia. Nigdy nie wpisuj hasła używanego do innych usług. Mimo
                        dołożenia wszelkich starań (Twoje hasło NIGDY nie jest przechowywane w czystej postaci) nie mogę
                        zagwarantować bezpieczeństwa Twojego hasła, strona ma charakter amatorski.
                    </small>
                </p>
            </div>

            <p class="form-text text-muted error-message" th:if="${errorMessage != null}" th:text="${errorMessage}">
                <small>Błędne hasło!</small>
            </p>

            <input type="hidden" th:field="*{id}" th:value="*{id}">
            <input type="hidden" th:field="*{order.id}" th:value="*{order.id}">
            <input type="hidden" th:field="*{dish.id}" th:value="*{dish.id}">

            <input type="hidden" th:if="*{user != null}" th:field="*{user.id}" th:value="*{user.id}">

            <div class="form-group">
                <button id="saveButton" type="submit" class="btn btn-primary">Zapisz</button>
            </div>

        </form>

    </div>

</section>


</body>
</html>