<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <div class="table-responsive" id="order-table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Menu</td>
                    <td>Zakończenie</td>
                    <td>Zamawiający</td>
                    <td>Płatność gotówką</td>
                    <td>Płatność przelewem</td>
                    <td>Płatność Blik</td>
                    <td>Natychmiastowa opłata</td>
                    <td>Opis</td>
                    <td class="icon-column"></td>
                    <td class="icon-column"></td>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${order}">
                    <td th:text="*{name}"></td>
                    <td th:text="*{menuId.name}"></td>
                    <td th:text="*{#dates.format(endTime, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="*{owner}"></td>
                    <td><img th:src="@{'/resources/images/' + ${order.isCashAllowed()} + '.png'}"></td>
                    <td><img th:src="@{'/resources/images/' + ${order.isTransferAllowed()} + '.png'}"></td>
                    <td><img th:src="@{'/resources/images/' + ${order.isBlikAllowed()} + '.png'}"></td>
                    <td><img th:src="@{'/resources/images/' + ${order.isPaymentImmediate()} + '.png'}"></td>
                    <td th:text="${order.comment}"></td>
                    <td><a th:if="${#dates.createNow() < order.endTime}"
                           th:href="@{/orders/{id}(id=__${order.id}__)}"><img
                            th:src="@{/resources/images/edit.png}"></a>
                    </td>
                    <td><a th:href="@{/orders/summary/{id}(id=__${order.id}__)}"><img
                            th:src="@{/resources/images/zoom.png}"></a></td>
                </tr>
                </tbody>
            </table>

        </div>

        <h2>Lista zamówionych dań</h2>

        <div id="items-table" class="table-responsive">
            <table class="table"
                   th:classappend="${#dates.createNow() < order.endTime} ? 'table-hover' : 'table-striped'">
                <thead>
                <tr>
                    <td>Danie</td>
                    <td>Zamawiający</td>
                    <td>Ilość</td>
                    <td>Forma płatności</td>
                    <td>Sumaryczna cena</td>
                    <td>Komentarz</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${items}"
                    th:onclick="${#dates.createNow() < order.endTime} ? 'location.href=\'' + @{/items/{id}(id=__${item.id}__)} + '\';'"
                    th:style="${#dates.createNow() < order.endTime} ? 'cursor: pointer'">
                    <td th:text="${item.dish.name}"></td>
                    <td th:text="${item.owner}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.paymentForm.name}"></td>
                    <td th:text="${#numbers.formatDecimal(item.quantity * item.dish.price,0,2) + ' zł'}"></td>
                    <td th:text="${item.comment}"></td>
                </tr>
                </tbody>
            </table>

            <a th:if="${#dates.createNow() < order.endTime}" th:href="@{/newItem(orderId=__${order.id}__)}">
                <div id = "newItemButton" class="float-right btn btn-primary">Nowe</div>
            </a>

        </div>

    </div>

</section>

</body>
</html>