<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<header layout:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Food Project</a>
            </div>
        </div>
    </nav>
</header>


<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">

        <div class="container" style="margin-top: 150px;width: 40%;">

            <form class="form-signin" th:action="@{/perform_login}" method="post">

                <small class="form-text text-muted error-message" th:text="${errorMessage}"></small>
                <small class="form-text text-muted" style="color: darkgreen" th:text="${successMessage}"></small>

                <label for="inputEmail" class="sr-only">Email</label>
                <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Email" autofocus
                       style="margin-top: 10px;">
                <label for="inputPassword" class="sr-only">Hasło</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Hasło"
                       style="margin-top: 10px;">
                <button style="margin-top: 10px;" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj
                </button>
                <a class="float-right" th:href="@{/registration}">Rejestracja</a><br>
            </form>

        </div>

    </div>

</section>

</body>
</html>