<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">

<body>

<section layout:fragment="content">

    <div class="col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${message}"></h1>

        <div class="table-responsive" id="menu-list">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td class="icon-column"></td>
                    <td style="width: 50%">Nazwa</td>
                    <td style="width: 25%">Źródło</td>
                    <td style="width: 25%">Opis</td>
                    <td class="icon-column"></td>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="menu: ${menus}">
                    <tr th:onclick="'location.href=\'' + @{/menus(expandedMenuId=(${expandedMenuId == null or expandedMenuId != menu.id} ? ${menu.id} : null))} + '\';'" style="cursor: pointer">
                        <td><img th:src="@{/resources/images/expand.png}" th:class="${expandedMenuId == menu.id} ? 'rotated'"></td>
                        <td th:text="${menu.name}">
                        </td>
                        <td><a th:href="${menu.sourceUrl}" th:text="${menu.sourceUrl}"></a></td>
                        <td th:text="${menu.comment}"></td>
                        <td><a th:href="@{/menus/{id}(id=__${menu.id}__)}"><img
                                th:src="@{/resources/images/edit.png}"></a></td>
                    </tr>
                    <tr th:if="${expandedMenuId == menu.id}" th:each="dish: ${dishes}">
                        <td></td>
                        <td><span class="dish-row" th:text="${dish.name}"></span><span class="float-right" th:text="${#numbers.formatDecimal(dish.price,0,2)} + ' zł'"></span></td>
                        <td colspan="3"></td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </div>

</section>

</body>
</html>