<!DOCTYPE html>
<html
        lang="pl-PL"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/standardLayout">
<body>

<div class="col-md-10 col-md-offset-2 main" layout:fragment="content">
    <h1 class="page-header" th:text="${message}"></h1>

    <div class="table-responsive" id="order-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Nazwa</td>
                <td>Menu</td>
                <td>Zakończenie</td>
                <td>Zamawiający</td>
                <td>Płatność gotówką</td>
                <td>Płatność przelewem</td>
                <td>Płatność Blik</td>
                <td>Natychmiastowa opłata</td>
                <td>Opis</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}" th:onclick="'location.href=\'' + @{/items(orderId=__${order.id}__)} + '\';'" style="cursor: pointer">
                <td th:text="${order.name}"></td>
                <td th:text="${order.menuId.name}"></td>
                <td th:text="${#dates.format(order.endTime, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${order.owner}"></td>
                <td><img th:src="@{'/resources/images/' + ${order.isCashAllowed()} + '.png'}"></td>
                <td><img th:src="@{'/resources/images/' + ${order.isTransferAllowed()} + '.png'}"></td>
                <td><img th:src="@{'/resources/images/' + ${order.isBlikAllowed()} + '.png'}"></td>
                <td><img th:src="@{'/resources/images/' + ${order.isPaymentImmediate()} + '.png'}"></td>
                <td th:text="${order.comment}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>