<!DOCTYPE html>
<html lang="pl-PL"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--Use this as header fragment in template-->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Food Project</a>
        </div>

        <!--Do not show on login page-->
        <th:block th:if="${!#httpServletRequest.requestURI.contains('login')}">

            <div id="navbar" class="navbar-collapse collapse">

                <!--Log-in form, visible when not logged in-->
                <form th:if="${#authorization.expr('isAnonymous()')}" class="navbar-form navbar-right" th:action="@{/perform_login}" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Email" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Hasło" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success" id="loginButton">Zaloguj</button>

                    <a th:href="@{/registration}"><div class="btn btn-success" id="registerButton">Rejestracja</div></a>
                </form>

                <!--Logout form visible when logged in-->
                <form th:if="${!#authorization.expr('isAnonymous()')}" class="navbar-form navbar-right" th:action="@{/perform_logout}" method="post">
                    <span style="color: white; margin-right: 15px" th:text="${#authentication.getName()}"></span>
                    <button type="submit" class="btn btn-success" id="logoutButton">Wyloguj</button>
                </form>
            </div>

        </th:block>

    </div>
</nav>

</body>
</html>