<!DOCTYPE html>
<html lang="pl-PL"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--Use this as left menu fragment in template-->
<div class="col-md-2 sidebar" th:fragment="leftMenu">
    <ul class="nav nav-sidebar">
        <li><a th:href="@{/orders(active=true)}">Aktywne</a></li>
        <li><a th:href="@{/orders(active=false)}">Historia</a></li>
        <li><a th:href="@{/newOrder}">Utwórz zamówienie</a></li>
        <li><a th:href="@{/menus}">Przeglądaj menu</a></li>
        <li><a th:href="@{/newMenu}">Utwórz menu</a></li>
    </ul>
</div>

</body>
</html>